body{
    background: url('./MicrosoftTeams-image\ \(2\).png');
    background-color: aquamarine;
    background-image: url('back1.webp');
    color: red;
}

.card{
    color: black;
}
            
.card-body{
    color: black;
}

.mb-3 {
    color: black;
}

.form-label {
    color: black;
}

.mb-2 {
    padding: 25px 25px 25px 25px;
}